
:root{
	--input-padding-x: 1.5rem;
	--input-padding-y: 0.75rem;
}


body,
html{
	width: 100%;
	height: 100%;
}

.btn{
	font-family: 'Kanit',sans-serif;
}

.btn-success{
	background-color: #c0aa83;
	border-color: #c0aa83;
	color: #fff;
}

.btn-success:hover{
	background-color: #242424;
	border-color: #242424;
	color: #fff;
}




/*PRODUCT PAGE STYLING*/

.blog-sidebar-title{
	color: #242424;
	font-family: 'Kanit',sans-serif;
	font-size: 25px;
	font-weight: 900;
}

.blog-sidebar-list{
	color: #242424;
	font-family: 'Kanit',sans-serif;
	font-size: 16px;
	font-weight: 900;
}

.blog-sidebar-text{
	color: #242424;
	font-family: 'Kanit',sans-serif;
	font-size: 16px;
	font-weight: 200;
}

.blog-form{
	background-color: #F4F4F4; 
	padding: 50px;
	height: 1000px;
}

.list-icon{

	color: #c0aa83;

}

.tags{
	display: flex;
	justify-content: flex-start;
	color: #242424;
	font-size: 20px;
	font-weight: 200;
}

.tags{
	color: #242424;
	font-family: 'Kanit',sans-serif;
	font-size: 20px;
	font-weight: 200;
}



.product-sidebar-list{
	color: #242424;
}

.product-sidebar-list:hover{
	color: #c0aa83;
}

.card-title{
	color: #c0aa83;
	font-size: 25px;
	font-weight: 900;
	display: flex;
	justify-content: flex-start;
}

.card-text{
	font-size: 13px;
	display: flex;
	justify-content: flex-start;
}

.price-tag{
	color: #c0aa83;
	font-family: 'Kanit',sans-serif;
	font-size: 25px;
	font-weight: 900;
}

.button-text{
	font-family: 'Kanit',sans-serif;
	font-size: 14px;
	font-weight: 900;
}

.product-image{
	width: 200px;
	height: 200px;
}

.product-btns{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    opacity: 0;
    transition: opacity 0.6s ease;
}
.btn-cart, .btn-view{
    background: transparent;
    border: 1px solid black;
    width: 13rem;
    height: 3rem;
	font-size: 0.9rem;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
}
.btn-cart{
    background: black;
    color: white;
}
.btn-cart:hover{
    background: var(--carribean-green);
}
.btn-view{
    background: white;
}
.btn-view:hover{
    background: var(--carribean-green);
    color: #fff;
}

.product-img img{
    transition: transform 0.6s ease;
}
.product:hover .product-img img{
    transform: scale(1.1);
}
.product:hover .product-img{
    background: var(--carribean-green);
}
.product:hover .product-btns{
    opacity: 1;
}

